.background-loader {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
}

.wrapper-loader {
    z-index: 9999999;
    position: fixed;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}